{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * One Export plugin for Craft CMS
 *
 * OneExportUtility Utility Content
 *
 * @author    One Design Company
 * @copyright Copyright (c) 2021 One Design Company
 * @link      https://onedesigncompany.com
 * @package   OneExport
 * @since     1.0.0
 */
#}

<h1>OneExportUtility</h1>

{% set iconUrl = view.getAssetManager().getPublishedUrl('@onedesign/oneexport/assetbundles/oneexportutilityutility/dist', true) ~ '/img/OneExportUtility-icon.svg' %}

<img src="{{ iconUrl }}" height="64" width="64" />

<p>Your Utility content goes here</p>

<p>{{ someVar }}</p>